{"type":"visualization","id":"correlated-alerts","attributes":{"title":"Correlated Alerts","visState":"{\"title\":\"Correlated Alerts\",\"type\":\"histogram\",\"aggs\":[{\"id\":\"1\",\"type\":\"count\",\"schema\":\"metric\"}],\"params\":{\"addLegend\":false,\"addTooltip\":true}}","kibanaSavedObjectMeta":{"searchSourceJSON":"{\\\"index\\\":\\\"alerts-*\\\",\\\"query\\\":{\\\"language\\\":\\\"kuery\\\",\\\"query\\\":\\\"signal.rule.name: \\\\\\\"Correlated Targeted Attack\\\\\\\"\\\"},\\\"filter\\\":[]}"}}}
{"type":"dashboard","id":"default-dashboard","attributes":{"title":"Default SOC Dashboard","timeRestore":false,"panelsJSON":"[{\\\"gridData\\\":{\\\"x\\\":0,\\\"y\\\":0,\\\"w\\\":24,\\\"h\\\":15,\\\"i\\\":\\\"1\\\"},\\\"type\\\":\\\"visualization\\\",\\\"id\\\":\\\"correlated-alerts\\\"}]","optionsJSON":"{}","version":1}}
